:root {
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary-transculent: #18283bcc;
  --navbar-dark-primary: #18283b;
  --navbar-dark-secondary: #2c3e50;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #8392a5;
  --background: #9c88ff;
  --background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="a" x2="0" y2="100%" gradientTransform="rotate(240)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23D0F"/><stop offset="1" stop-color="%23305"/></linearGradient><pattern id="b" width="540" height="450" patternUnits="userSpaceOnUse" viewBox="0 0 1080 900"><g fill-opacity=".1"><path d="m630 150-90 150h180zM90 450l90-150H0zM810 450l-90 150h180zM270 750l-90 150h180zM450 750l90-150H360zm180 0-90 150h180zM900 0l-90 150h180zM0 600l-90 150H90zM1080 600l-90 150h180z"/><g fill="%23222"><path d="M90 750 0 900h180zM0 300l-90 150H90zM360 300l-90 150h180zM540 300l90-150H450zM720 600l-90 150h180zM900 600l90-150H810zM900 900l90-150H810zm180-600-90 150h180z"/></g><g fill="%23444"><path d="M90 150 0 300h180zM810 150l-90 150h180zM990 150l90-150H900zM630 750l90-150H540zM360 0l-90 150h180zM540 300l-90 150h180zM180 900l90-150H90zM990 450l90-150H900zM180 600l90-150H90zm180 0-90 150h180z"/></g><g fill="%23666"><path d="m270 450-90 150h180zM810 750l90-150H720zM180 300l90-150H90zM720 300l90-150H630zM0 600l90-150H-90zM540 600l90-150H450zM1080 600l90-150H990z"/></g><g fill="%23999"><path d="M450 150 540 0H360zM450 450l90-150H360zm180 0-90 150h180zM990 750l-90 150h180zM180 0 90 150h180zM900 300l90-150H810zM360 600l90-150H270z"/></g><g fill="%23AAA"><path d="M270 150 360 0H180zM990 450l-90 150h180zM810 750l-90 150h180zM270 450l90-150H180zM720 300l-90 150h180zM180 600 90 750h180zM540 900l90-150H450z"/></g><path d="M90 150 180 0H0z"/><g fill="%23DDD"><path d="m450 150-90 150h180zM630 150 720 0H540zM990 150l-90 150h180zM90 450 0 600h180zM450 450l-90 150h180zM810 450l90-150H720zM270 750l90-150H180zM0 900l90-150H-90zM1080 900l90-150H990z"/></g><g fill="%23FFF"><path d="M810 150 900 0H720zM630 450l90-150H540zM540 0l-90 150h180zM0 300l90-150H-90zm180 0L90 450h180zM360 300l90-150H270zM900 300l-90 150h180zM900 600l-90 150h180zM360 900l90-150H270zM720 900l90-150H630zM1080 300l90-150H990z"/></g></g></pattern></defs><rect fill="url(%23a)" width="100%" height="100%"/><rect fill="url(%23b)" width="100%" height="100%"/></svg>');
  --svg-mask-corner-bottom: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0 1 Q1 1 1 0 L1 1"/></svg>');
  --svg-mask-corner-top: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0 0 Q1 0 1 1 L1 0"/></svg>');
}

html, body {
  margin: 0;
  background: var(--background);
  background-attachment: fixed;
  background-size: contain;
}

#nav-toggle:checked ~ #nav-header {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--navbar-light-primary);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--navbar-light-secondary);
  transform: translate(0, 0) rotate(0deg);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary-transculent);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}
#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type=checkbox] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  min-height: 80px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: width 0.2s;
  z-index: 2;
}
#nav-header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--navbar-dark-primary-transculent);
  border-radius: 16px;
  z-index: -1;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=nav-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  border-radius: 99px;
  transition: background 0.2s;
}
#nav-toggle-burger::before, #nav-toggle-burger::after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#nav-toggle-burger::after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}
#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #A2A;
}
#nav-content::-webkit-scrollbar-button:single-button {
  height: 16px;
}

#nav-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}
#nav-highlight::before, #nav-highlight::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 16px;
  height: 16px;
  background: var(--background);
  background-attachment: fixed;
  /* I used circle div + box-shadow in my old pen,
  * but it doesn't support transculent background */
  -webkit-mask: var(--svg-mask-corner-bottom);
  -webkit-mask-mask: var(--svg-mask-corner-bottom);
}
#nav-highlight::after {
  top: 100%;
  -webkit-mask: var(--svg-mask-corner-top);
  -webkit-mask-mask: var(--svg-mask-corner-top);
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.nav-button span {
  transition: opacity 1s;
}
.nav-button .fas {
  transition: min-width 0.2s;
}
.nav-button:nth-of-type(1):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(1):hover ~ #nav-highlight {
  top: 16px;
}
.nav-button:nth-of-type(2):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(2):hover ~ #nav-highlight {
  top: 70px;
}
.nav-button:nth-of-type(3):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(3):hover ~ #nav-highlight {
  top: 124px;
}
.nav-button:nth-of-type(4):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(4):hover ~ #nav-highlight {
  top: 178px;
}
.nav-button:nth-of-type(5):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(5):hover ~ #nav-highlight {
  top: 232px;
}
.nav-button:nth-of-type(6):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(6):hover ~ #nav-highlight {
  top: 286px;
}
.nav-button:nth-of-type(7):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(7):hover ~ #nav-highlight {
  top: 340px;
}
.nav-button:nth-of-type(8):hover {
  color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(8):hover ~ #nav-highlight {
  top: 394px;
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}
#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--navbar-light-secondary);
  font-size: 0.6rem;
}

#nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}
#nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
  transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--navbar-light-secondary);
  padding: 16px 0;
  color: var(--navbar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}
#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #A2A;
}